.character {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet() {
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
    justify-content: center;
  }
  @include desktop() {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  &__li {
    border-radius: 15px;
    margin-top: 25px;

    &:hover {
      transform: scale(1.02);
      box-shadow: 8x 8px 10px $colorNeonGreen;
    }
    &--article {
      border: 4px solid $colorBlue;
      border-radius: 15px;
      box-shadow: 5px 5px 10px $colorDarkBlue;

      @include tablet() {
        text-align: center;
        display: flex;
        flex-direction: column;
        width: 250px;
      }

      &-img {
        border-radius: 11px;
        @include tablet() {
        }
      }
      &-info {
        padding: 15px;
        &-name {
          font-size: 1rem;
        }
      }
    }
  }
}
