.filter {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  padding: 25px 0 10px 25px;
  width: 100%;

  @include tablet() {
    flex-direction: row-reverse;
  }
  &__resetBut {
    font-weight: bold;
    color: $colorBlack;
    margin: 0 25px;
    background-color: $colorNeonGreen;
    border-radius: 10px;
    height: 30px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: $colorBlack;
      box-shadow: 1px 1px 5px $colorNeonGreen;
      color: $colorNeonGreen;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    @include tablet() {
      flex-direction: row;
    }
    &--textBox {
      font-weight: bold;
      margin-bottom: 20px;
      padding: 10px;
      background-color: $colorBlack;
      color: $colorWhite;
      border-right: 2px dotted $colorBlue;
      border-bottom: 2px dotted $colorBlue;
      width: 200px;
      height: 40px;
      @include tablet() {
        width: 500px;
        margin-bottom: 0;
      }
    }
    &--species {
      margin-bottom: 5px;
      @include tablet() {
        margin-bottom: 0;
        padding: 0 15px;
      }
    }
    &--select {
      margin-bottom: 20px;
      background-color: $colorBlack;
      font-size: 1rem;
      height: 40px;
      border-right: 2px dotted $colorBlue;
      border-bottom: 2px dotted $colorBlue;
      @include tablet() {
        margin-bottom: 0;
      }
    }
  }
}
