.filter {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  padding: 25px 0 10px 25px;
  width: 100%;
  &__resetBut {
    font-weight: bold;
    color: $colorBlack;
    margin: 0 25px;
    background-color: $colorNeonGreen;
    border-radius: 10px;
    height: 30px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: $colorBlack;
      box-shadow: 1px 1px 5px $colorNeonGreen;
      color: $colorNeonGreen;
    }
  }
  &__form {
    &--textBox {
      font-weight: bold;
      padding: 10px;
      background-color: $colorBlack;
      color: $colorWhite;
      border-right: 2px dotted $colorBlue;
      border-bottom: 2px dotted $colorBlue;
      width: 300px;
      height: 40px;
      @include tablet() {
        width: 500px;
      }
    }
  }
}
