.footer {
  width: 96vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include tablet() {
    justify-content: flex-end;
    padding-right: 25px;
  }
  &__img {
    margin-top: 50px;
    width: 25px;
    margin-bottom: 50px;
  }
  &__link {
    &:hover {
      color: $colorNeonGreen;
    }
  }
}
