* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: $mainFont;
  color: $colorWhite;
}
a {
  color: inherit;
}
body {
  background-color: $colorBlack;
}
#root {
  height: 100vh;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
}
